.topic{
    text-align: center;
    font-family: 'Freckle Face', cursive;
}
#newburger{
    margin-left: 40%;
}
.row{
    font-family: 'Freckle Face', cursive;
}
#submit{
    font-family: 'Freckle Face', cursive;
}